In [47]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [48]:
df = pd.read_csv("student_performance_dataset.csv")
df

,Student_ID,Gender,Study_Hours_per_Week,Attendance_Rate,Past_Exam_Scores,Parental_Education_Level,Internet_Access_at_Home,Extracurricular_Activities,Final_Exam_Score,Pass_Fail
0,S147,Male,31,68.267841,86,High School,Yes,Yes,63,Pass
1,S136,Male,16,78.222927,73,PhD,No,No,50,Fail
2,S209,Female,21,87.525096,74,PhD,Yes,No,55,Fail
3,S458,Female,27,92.076483,99,Bachelors,No,No,65,Pass
4,S078,Female,37,98.655517,63,Masters,No,Yes,70,Pass
...,...,...,...,...,...,...,...,...,...,...
703,S492,Male,14,84.658761,78,PhD,Yes,No,50,Fail
704,S301,Male,35,60.278990,83,Masters,No,No,62,Pass
705,S473,Male,25,98.384969,75,Bachelors,Yes,No,57,Fail
706,S307,Female,21,96.148012,84,Bachelors,Yes,No,65,Pass
707,S046,Female,22,80.404392,93,Bachelors,Yes,No,55,Fail

In [49]:
df.head(2)

,Student_ID,Gender,Study_Hours_per_Week,Attendance_Rate,Past_Exam_Scores,Parental_Education_Level,Internet_Access_at_Home,Extracurricular_Activities,Final_Exam_Score,Pass_Fail
0,S147,Male,31,68.267841,86,High School,Yes,Yes,63,Pass
1,S136,Male,16,78.222927,73,PhD,No,No,50,Fail

In [50]:
df.tail(2)

,Student_ID,Gender,Study_Hours_per_Week,Attendance_Rate,Past_Exam_Scores,Parental_Education_Level,Internet_Access_at_Home,Extracurricular_Activities,Final_Exam_Score,Pass_Fail
706,S307,Female,21,96.148012,84,Bachelors,Yes,No,65,Pass
707,S046,Female,22,80.404392,93,Bachelors,Yes,No,55,Fail

In [51]:
df.columns

Index(['Student_ID', 'Gender', 'Study_Hours_per_Week', 'Attendance_Rate',
       'Past_Exam_Scores', 'Parental_Education_Level',
       'Internet_Access_at_Home', 'Extracurricular_Activities',
       'Final_Exam_Score', 'Pass_Fail'],
      dtype='object')

In [52]:
df.count()

Student_ID                    708
Gender                        708
Study_Hours_per_Week          708
Attendance_Rate               708
Past_Exam_Scores              708
Parental_Education_Level      708
Internet_Access_at_Home       708
Extracurricular_Activities    708
Final_Exam_Score              708
Pass_Fail                     708
dtype: int64

In [53]:
df.describe()

,Study_Hours_per_Week,Attendance_Rate,Past_Exam_Scores,Final_Exam_Score
count,708.000000,708.000000,708.000000,708.000000
mean,26.132768,78.107722,77.871469,58.771186
std,8.877727,13.802802,14.402739,6.705877
min,10.000000,50.116970,50.000000,50.000000
25%,19.000000,67.550094,65.000000,52.000000
50%,27.000000,79.363046,79.000000,59.500000
75%,34.000000,89.504232,91.000000,64.000000
max,39.000000,99.967675,100.000000,77.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  708 non-null    object
 1   Gender                      708 non-null    object
 2   Study_Hours_per_Week        708 non-null    int64
 3   Attendance_Rate             708 non-null    float64
 4   Past_Exam_Scores            708 non-null    int64
 5   Parental_Education_Level    708 non-null    object
 6   Internet_Access_at_Home     708 non-null    object
 7   Extracurricular_Activities  708 non-null    object
 8   Final_Exam_Score            708 non-null    int64
 9   Pass_Fail                   708 non-null    object
dtypes: float64(1), int64(3), object(6)
memory usage: 55.4+ KB

In [55]:
df.shape

print(f"Number of Rows: {df.shape[0]}, Number of Columns: {df.shape[1]}")

Number of Rows: 708, Number of Columns: 10

In [56]:
df.nunique()

Student_ID                    500
Gender                          2
Study_Hours_per_Week           30
Attendance_Rate               500
Past_Exam_Scores               51
Parental_Education_Level        4
Internet_Access_at_Home         2
Extracurricular_Activities      2
Final_Exam_Score               27
Pass_Fail                       2
dtype: int64

In [57]:
df.isnull().sum()

Student_ID                    0
Gender                        0
Study_Hours_per_Week          0
Attendance_Rate               0
Past_Exam_Scores              0
Parental_Education_Level      0
Internet_Access_at_Home       0
Extracurricular_Activities    0
Final_Exam_Score              0
Pass_Fail                     0
dtype: int64

In [58]:
def fillnaObjectMode(cols):
    for col in cols:
        df[col] = df[col].fillna(df[col].mode()[0])

object_cols = df.select_dtypes(include="object").columns.tolist()
fillnaObjectMode(object_cols)

In [59]:
def fillnaIntMode(cols):
    for col in cols:
        df[col] = df[col].fillna(df[col].mode()[0])

int_cols = df.select_dtypes(include="int64").columns.tolist()
fillnaIntMode(int_cols)

In [60]:
def fillnaFloatMean(cols):
    for col in cols:
        df[col] = df[col].fillna(df[col].mean())

float_cols = df.select_dtypes(include="float64").columns.tolist()
fillnaFloatMean(float_cols)

df.isnull().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  708 non-null    object
 1   Gender                      708 non-null    object
 2   Study_Hours_per_Week        708 non-null    int64
 3   Attendance_Rate             708 non-null    float64
 4   Past_Exam_Scores            708 non-null    int64
 5   Parental_Education_Level    708 non-null    object
 6   Internet_Access_at_Home     708 non-null    object
 7   Extracurricular_Activities  708 non-null    object
 8   Final_Exam_Score            708 non-null    int64
 9   Pass_Fail                   708 non-null    object
dtypes: float64(1), int64(3), object(6)
memory usage: 55.4+ KB

In [61]:
def changeFloatToInt(cols):
    for col in cols:
        df[col] = df[col].astype("int64")

float_cols = df.select_dtypes(include="float64").columns.tolist()
changeFloatToInt(float_cols)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  708 non-null    object
 1   Gender                      708 non-null    object
 2   Study_Hours_per_Week        708 non-null    int64
 3   Attendance_Rate             708 non-null    int64
 4   Past_Exam_Scores            708 non-null    int64
 5   Parental_Education_Level    708 non-null    object
 6   Internet_Access_at_Home     708 non-null    object
 7   Extracurricular_Activities  708 non-null    object
 8   Final_Exam_Score            708 non-null    int64
 9   Pass_Fail                   708 non-null    object
dtypes: int64(4), object(6)
memory usage: 55.4+ KB

In [62]:


def convertObjToInt(cols):
    for col in cols:
        unique_vals = pd.DataFrame({col: df[col].unique()})
        le = LabelEncoder()
        le.fit(np.ravel(unique_vals))
        df[col] = le.transform(df[col])

object_cols = df.select_dtypes(include="object").columns.tolist()
convertObjToInt(object_cols)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Student_ID                  708 non-null    int32
 1   Gender                      708 non-null    int32
 2   Study_Hours_per_Week        708 non-null    int64
 3   Attendance_Rate             708 non-null    int64
 4   Past_Exam_Scores            708 non-null    int64
 5   Parental_Education_Level    708 non-null    int32
 6   Internet_Access_at_Home     708 non-null    int32
 7   Extracurricular_Activities  708 non-null    int32
 8   Final_Exam_Score            708 non-null    int64
 9   Pass_Fail                   708 non-null    int32
dtypes: int32(6), int64(4)
memory usage: 38.8 KB

In [64]:
df.to_csv("processed_data.csv", index=False)

In [65]:
df = pd.read_csv("processed_data.csv")
df

,Student_ID,Gender,Study_Hours_per_Week,Attendance_Rate,Past_Exam_Scores,Parental_Education_Level,Internet_Access_at_Home,Extracurricular_Activities,Final_Exam_Score,Pass_Fail
0,146,1,31,68,86,1,1,1,63,1
1,135,1,16,78,73,3,0,0,50,0
2,208,0,21,87,74,3,1,0,55,0
3,457,0,27,92,99,0,0,0,65,1
4,77,0,37,98,63,2,0,1,70,1
...,...,...,...,...,...,...,...,...,...,...
703,491,1,14,84,78,3,1,0,50,0
704,300,1,35,60,83,2,0,0,62,1
705,472,1,25,98,75,0,1,0,57,0
706,306,0,21,96,84,0,1,0,65,1
707,45,0,22,80,93,0,1,0,55,0

In [66]:


X = df.drop("Pass_Fail", axis=1)  
y = df["Pass_Fail"]               

train_X, test_X, train_y, test_y = train_test_split(
    X, y, test_size=0.3, shuffle=False
)

print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(495, 9) (495,)
(213, 9) (213,)

In [67]:
from sklearn.svm import SVC

model_svc = SVC()
model_svc.fit(train_X, train_y)

print(model_svc)

SVC()

In [68]:
model_pred = model_svc.predict(test_X)
model_pred

array([0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1], dtype=int64)

In [69]:


acc = accuracy_score(test_y, model_pred)
print("Accuracy:", round(acc * 100, 2), "%")

Accuracy: 88.73 %

In [70]:
import pickle

pickle.dump(model_svc, open("pass_fail_model.pkl", "wb"))
print("Model Saved Successfully!")

Model Saved Successfully!